<footer class="footer">
  <div class="profile-links">
    <a href="https://github.com/ar1f123">
      <img src="{{ site.baseurl }}/images/github.jpg" alt="GitHub icon" class="icon"> GitHub
    </a>
    <a href="https://www.codecademy.com/profiles/ar1fbadalov24084">
      <img src="{{ site.baseurl }}/images/codecademy.jpg" alt="Codecademy icon" class="icon"> Codecademy
    </a>
    <a href="https://github.com/ar1f123/site-website">
      <img src="{{ site.baseurl }}/images/github.jpg" alt="Repo icon" class="icon"> GitHub Repository
    </a>
  </div>
  <p>&copy; {{ site.time | date: '%Y' }} Arif Badalov. SITE 1101 Project.</p>
</footer>

